.main{
        display: flex;
        justify-content: center;
        align-items:center ;
}
.container{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        grid-gap: 30px;
        margin-top: 10px;
        
}
.card{
        width: 16rem;
        height: 18rem;
        border: 2px solid goldenrod;
        border-radius: 20px;
        margin-top: 10px;      
}
